 <header class="navbar sticky-top bg-light flex-md-nowrap p-2 shadow">
  
  <a class="navbar-brand bg-light col-md-3 col-lg-2 px-3 fs-6" href="#">
     <h6>Beta<i><b class="text-primary">Wallet</b></i></h6>
  </a>
  <div>Your Balance: <b>Rp. <%= Stock.find_by(user_id: current_user.id).balance %></b></div>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</header>