<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
        
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home" class="align-text-bottom"></span>
                Activity
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Team
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="users" class="align-text-bottom"></span>
                Setting
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Logout
            </a>
        </li>

        <div class="card card-bg m-2 mt-5">
            
            <div class="card-body text-center">
                <h5 class="text-bold mb-4 text-white">Send Money</h5>
                <input type="email" class="form-control shadow" id="exampleFormControlInput1" placeholder="name@example.com">
            
                <button class="btn btn-custom1 text-white mt-5">Next Step</button>
            </div>

        </div>
        
    </ul>
    </div>
</nav>